{{ define "Edit" }}
        {{ template "Header" }}
        {{ template "Menu"  }}
<h2> Registered </h2>
<form method="POST" action="editemp">
<table border="1">
    <tr>
        <td>Emp No</td><td><input type="text" name="txt_emp_no" value="{{.Emp_no}}" /></td>
    </tr>
<tr>
    <td>Birthday Date</td><td><input type="text" name="txt_Birth_date" value="{{ .Birth_date }}" /></td>
</tr><tr>
    <td>First Name</td><td><input type="text" name="txt_First_name" value="{{ .First_name }}" /></td>
</tr><tr>
    <td>Last Name</td><td><input type="text" name="txt_Last_name" value="{{ .Last_name }}" /></td>
</tr><tr>
    <td>Gender</td><td><input type="text" name="txt_Gender" value="{{ .Gender }}" /></td>
</tr><tr>
    <td>Hire Date</td><td><input type="text" name="txt_Hire_date" value="{{ .Hire_date }}" /></td>
</tr>
    <tr>
        <td>Active</td><td><input type="checkbox" name="chk_IsActive" value="{{ .IsActive }}">IsActive</input></td>
    </tr>
<tr>
    <td></td><td><input type="submit" value="Update Employee"/></td>
</tr>

</table></form>
        {{ template "Footer" }}
        {{ end }}