{{ define "Create" }}
        {{ template "Header" }}
        {{ template "Menu"  }}
<h2> Registered </h2>
<form method="POST" action="addemp">
<table border="1">
<tr>
    <td>Birthday Date</td><td><input type="text" name="txt_Birth_date" /></td>
</tr><tr>
    <td>First Name</td><td><input type="text" name="txt_First_name" /></td>
</tr><tr>
    <td>Last Name</td><td><input type="text" name="txt_Last_name" /></td>
</tr><tr>
    <td>Gender</td><td><input type="text" name="txt_Gender" /></td>
</tr><tr>
    <td>Hire Date</td><td><input type="text" name="txt_Hire_date" /></td>
</tr>
    <tr>
        <td>Active</td><td><input type="checkbox" name="chk_IsActive">IsActive</input></td>
    </tr>
<tr>
    <td></td><td><input type="submit" value="Create Employee" /></td>
</tr>

</table></form>
        {{ template "Footer" }}
        {{ end }}